.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
  
}


/* MyGrid.css */
.my-grid-container {
  width: 100%;
  height: 400px; 
  align-content: center;
}

/* Customize header row style */
.ag-header {
  background-color: #eda494;
}

/* Customize header cell style */
.ag-header-cell {
  font-weight: bold;
}

/* Customize odd rows style */
.ag-row-odd {
  background-color: rgb(124, 147, 183);
}

/* Customize even rows style */
.ag-row-even {
  background-color: #a1d6bb;
}